[submodule "jangsjyro"]
	path = jangsjyro
	url = https://github.com/JangMan-J/JangLabs-JangsJyro.git
	branch = branch-a-port
[submodule "agent"]
	path = agent
	url = https://github.com/JangMan-J/JangLabs-Agent.git
	branch = main
[submodule "claude"]
	path = claude
	url = https://github.com/JangMan-J/JangLabs-Claude.git
	branch = main
[submodule "gamepad"]
	path = gamepad
	url = https://github.com/JangMan-J/JangLabs-Gamepad.git
	branch = main
[submodule "proton"]
	path = proton
	url = https://github.com/JangMan-J/JangLabs-Proton.git
	branch = main
[submodule "theme"]
	path = theme
	url = https://github.com/JangMan-J/JangLabs-Theme.git
	branch = main
