[submodule "jangsjyro"]
	path = jangsjyro
	url = https://github.com/JangMan-J/JangsJyro.git
	branch = branch-a-port
[submodule "agent"]
	path = agent
	url = https://github.com/JangMan-J/Agent.git
	branch = main
[submodule "claude"]
	path = claude
	url = https://github.com/JangMan-J/Claude.git
	branch = main
[submodule "gamepad"]
	path = gamepad
	url = https://github.com/JangMan-J/Gamepad.git
	branch = main
[submodule "proton"]
	path = proton
	url = https://github.com/JangMan-J/Proton.git
	branch = main
[submodule "theme"]
	path = theme
	url = https://github.com/JangMan-J/Theme.git
	branch = main
