[submodule "jangsjyro"]
	path = jangsjyro
	url = https://github.com/JangMan-J/JangLabs-JangsJyro.git
	branch = branch-a-port
[submodule "agent"]
	path = agent
	url = https://github.com/JangMan-J/JangLabs-Agent.git
	branch = main
[submodule "synapse"]
	path = synapse
	url = https://github.com/JangMan-J/JangLabs-Synapse.git
	branch = main
[submodule "proton"]
	path = proton
	url = https://github.com/JangMan-J/JangLabs-Proton.git
	branch = main
[submodule "switchtail"]
	path = switchtail
	url = https://github.com/JangMan-J/JangLabs-SwitchTail.git
	branch = main
[submodule "bolt"]
	path = bolt
	url = https://github.com/JangMan-J/JangLabs-Bolt.git
	branch = main
